<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ user?.username }}</ion-title>
    <ion-buttons end>
      <button *ngIf="uid == profileKey" (click)="editProfile()" ion-button icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding scrollbar-y-auto>
  <img src="assets/imgs/user-default.jpg">
  <ion-list>
    <ion-item>
      <p>username: {{ user?.username }}</p>
    </ion-item>
    <ion-item>
      <p>age: {{ user?.age }}</p>
    </ion-item>
    <ion-item>
      <p>country: {{ user?.country }}</p>
    </ion-item>
    <ion-item *ngIf="(user.role) == 2" color="secondary" (click)="pricelist()">
      <ion-label>Price list</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="profileKey != uid">
  <ion-toolbar color="secondary">
    <button color={{followColor}} ion-button full round icon-start (click)="follow()">
      <ion-icon color="secondary" name={{followIcon}}></ion-icon>
      {{followText}}
    </button>
  </ion-toolbar>

</ion-footer>