<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons end>

      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding scrollbar-y-auto>

  <ion-card color="secondary" *ngFor="let post of posts | async" text-wrap (click)="viewPost(post)">
    <ion-label>{{ post?.title }}</ion-label>
    <img [src]="post.imgurl">
  </ion-card>

  <ion-fab right bottom *ngIf="role == 0 || role == 1 || role == 2">
    <button ion-fab color="light" navPush="AddPostPage">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  
</ion-content>